<div class="show-box">
    <div class="show-title">
        <span>title:</span>
        <%=@book.title%>
    </div>

    <div class="show-body">
        <span>body:</span>
        <%=@book.body%>
    </div>
</div>


<div class="show-bottom">
    <%=link_to 'Edit',edit_book_path(@book.id)%>
    <span>|</span>
    <%=link_to 'Back',books_path%>
</div>